<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Edit Ticket</title>
</head>
<body>

<h1>Edit Ticket</h1>
<header>
  <h1>Welcome to Simple E-Commerce</h1>
  <nav>
    <a href="/">Home</a>
    <a href="/books">Books</a>
    <a href="/cart">Cart</a>
    <a href="/tickets">Tickets</a>
    <a href="/discMags">DiscMagazine</a>
  </nav>
</header>

<form th:action="@{/tickets/edit-ticket(id=${ticket.id})}" method="post" th:object="${ticket}">
<!--  &lt;!&ndash; CSRF Token for security &ndash;&gt;-->
<!--  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->

  <table>
    <tr>
      <td>Text:</td>
      <td><input type="text" th:field="*{text}" required/></td>
    </tr>

    <tr>
      <td>Description:</td>
      <td><input type="text" th:field="*{description}" required/></td>
    </tr>

    <tr>
      <td></td>
      <td><button type="submit">Save Changes</button></td>
    </tr>
  </table>

  <p>Use this form to edit ticket details.</p>
</form>

<p><a href="#" th:href="@{/tickets}">Return to Ticket List</a></p>

</body>
</html>
